{% for service in autostart.services %}
{% if service != 'swww-daemon' %}
exec-once = {{ service }}
{% endif %}
{% endfor %}
{% if mpvpaper_installed %}
exec-once = mpvpaper '*' {{ wallpaper_path }}
{% endif %}
