# AkumaOS General Hyprland Layout Configuration

general {
    gaps_in = {{ general.gaps_in }}
    gaps_out = {{ general.gaps_out }}
    border_size = {{ general.border_size }}
    col.active_border = {{ general.active_border_color }}
    col.inactive_border = {{ general.inactive_border_color }}
    layout = {{ general.layout }}
    resize_on_border = {{ 'true' if general.resize_on_border else 'false' }}
    allow_tearing = {{ 'true' if general.allow_tearing else 'false' }}

    snap {
        enabled = true
    }
}

dwindle {
    preserve_split = true
    special_scale_factor = 0.8
    smart_split = false
    smart_resizing = true
}

master {
    new_status = master
    new_on_top = true
    special_scale_factor = 0.8
}

misc {
    disable_hyprland_logo = true
    disable_splash_rendering = true
    mouse_move_enables_dpms = true
    key_press_enables_dpms = true
    enable_swallow = true
    swallow_regex = ^(ghostty|kitty|foot)$
}
