general {
    gaps_in = {{ general.gaps_in }}
    gaps_out = {{ general.gaps_out }}
    border_size = {{ general.border_size }}
    col.active_border = {{ general.active_border_color }}
    col.inactive_border = {{ general.inactive_border_color }}
    layout = {{ general.layout }}
    resize_on_border = {{ 'true' if general.resize_on_border else 'false' }}
}

dwindle {
    preserve_split = true
}

