# AkumaOS Hyprland Window Groups Configuration

group {
    col.border_active = rgba(33ccffee) rgba(00ff99ee) 45deg
    col.border_inactive = rgba(595959aa)

    groupbar {
        enabled = true
        font_size = 10
        gradients = true
        col.active = rgba(33ccffee)
        col.inactive = rgba(595959aa)
    }
}
